<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>storeRegister</title>
        <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css"
        />
        <link rel="icon" href="./img/mapIcon.PNG">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);
            .jm-font{
                font-family: 'Noto Sans KR', sans-serif;
            }
            body {
                background-color: #F5ECCE;
            }
            .wrap{
                width: 100%;
                min-width: 414px;
                height: 100vh;
                position: relative;
                font-size: 1.8rem;
            }
            .menu {
                margin-top: 10px;
            }
            .detail {
                width: 100%;
                padding: 30px;
              margin-top: 100px;
                position: absolute;
                display: block;
                text-align: center;
            }
            .card {
                background-color: #F5ECCE;
            }
            .norang {
                width: 8.5rem;
                display: block;
                background-color: #F5DA81;
                
            }
            .register {
                position: absolute;
                left: 60%;
                top: 95%;
            }
            #registerHome {
              width: 45px; 
              position: absolute; 
              left: 28%; 
              top: 94%;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <div class="scene flex detail jm-font">
                <div class="card" style="border: none;">
                    <form id="form_info">
                        <div class="input-group mb-3">
                            <span class="input-group-text norang" id="inputGroup-sizing-default">가게 이름</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" name="store" aria-describedby="inputGroup-sizing-default" placeholder="등록할 가게 이름 입력">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text norang" id="inputGroup-sizing-default">가게 주소</span>
                            <span>
                                <input
                                  style="font-size: 15px; width: 219px; font-weight: bold"
                                  class="form-control"
                                  type="text"
                                  name="address"
                                  value=""
                                  aria-label="Disabled input example"
                                  disabled
                                  readonly
                                />
                              </span>
                        </div>
                        <p style="font-size: 1.3rem;">메뉴 등록
                        </p>
                        <div class="input-group menu">
                            <span class="input-group-text norang">팥</span>
                            <input type="text" aria-label="Last name" name="price1" class="form-control"placeholder="가격 ex) 2개 1000원" id="price1">
                        </div>
                        <div class="input-group menu">
                            <span class="input-group-text norang">슈크림</span>
                            <input type="text" aria-label="Last name"  name="price2" class="form-control"placeholder="가격 ex) 2개 1000원" id="price2">
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <span class="input-group-text norang" id="inputGroup-sizing-default" name="operatingTime">운영 요일</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="요일 입력(ex. 월, 화, 수)">
                        </div>
                        <br>
                        <img src="../static/img/home.png" class="card-img-top animate__animated animate__bounceIn" id="registerHome" onclick="home();">
                        <button type="button" class="btn btn-warning register" onclick="editStore();">가게 등록하기</button>
                    </form>
                </div>
            </div>
        </div>
    <script>
        /* 주소 가져오기 */
        const address = document.querySelector(".form-control");
        console.log(sessionStorage.getItem("shopAddress"));
        address.value = sessionStorage.getItem("shopAddress");

        /* 가게 등록하기 버튼으르 누르면 */
        function editStore() {
            let form = document.getElementById("form_info");
            axios({
                method: "patch",
                url: "/store/Edit",
                data: {
                    storeName: form.store.value,
                    address: form.address.value,
                    menu: {
                        팥: form.price1.value,
                        슈크림: form.price1.value,
                    },
                    operatingTime: form.operatingTime.value
                }
            }).then(function(data){{
                alert("가게 정보가 등록되었습니다💛")
                window.location.href = "/storeDetail"
            }})
        }
        </script>
</body>
</html>